{% extends 'base.html.twig' %}

{% block title %}Wild Series - All Categories
{% endblock %}

{% block body %}
	<h1>Toutes les Catégories de Séries :</h1>
	{% for category in categories %}
		<div>
			<h2>{{ loop.index }}/
				{{ category.name }}</h2>
			<a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la liste des séries de cette catégorie</a>
		</div>
	{% endfor %}
{% endblock %}
