{% extends "base.html.twig" %}
{% block body %}
	<h1>
		{% for category in categories %}
			{{ category.name }}
		{% endfor %}
	</h1>
	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
