{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>{{ website }}
		index</h1>
		<br>
<img src="{{ asset('build/images/shyvana.jpg') }}" alt=""/>

{% endblock %}


